external
a.out
a.c
*.log
asdf
foo
log
[r-z]*.log
b[jv]*.log
jq*.log
*.logg
cmk*.log
snake10
build
build.bak
buildd*
build-sx*
build-sxd*
build-jit*
install
install.bak
install-sx*
install-jit*
install-dbg*
.*.sw?
**.nm
**.ii
**.i
**.o
**.vg
build*.log
mk*.log
cmk*.log
doxygen.log
test*.log
log-*
old*
**.diff
snprintf*
*.md~
dev-cmake*
gmon.out
oprofile*
src-hdr-huh
src-io
MINI*.log
fwd*.log
bwd*.log
ALEX*.log
ALL*.log
FWD*.log
A1-*.log
A3-*.log
minifwd*.log
minibwd*.log
BWD*.log
