external
log
build
build.bak
buildd*
build-sx*
build-sxd*
build-jit*
install
install.bak
install-sx*
install-jit*
install-dbg*
.*.sw?
*.nm
*.ii
*.o
*.vg
build.log
doxygen.log
test*.log
log-*
old*
*.diff
snprintf*
*.md~
dev-cmake*
gmon.out
oprofile*
src-hdr-huh
src-io
